/*! Estilos generales. grupokimera.com */
$black = #0d0d0d

html
body
.contenedor
	height 100%
	box-sizing border-box
	font-family "novecento_sans_widedemibold", Arial, sand-serif



body
	background-color $black

