/*! Estilos generales. grupokimera.com */
$black = #0d0d0d

body
	background url(../img/cover.jpg) center center no-repeat
	background-size cover
	height 100%
	font-family "novecento_sans_widedemibold", Arial, sand-serif

