/*! Estilo header grupokimera.com */
header
	display block
	height 90px
	position absolute
	text-align center
	top 0px
	width 100%
	z-index 1999
	color white
	background-color transparent

	a
	.telefono
		position absolute
		top 0px
	a
		font-family "novecento_sans_widedemibold" ,Arial, san-serif
		font-size 2em
		font-weight: 600 !important;
		margin 1em 0 0 0
		padding-left 1.2em
		left 0px
		text-decoration None
	figure
		display inline-block
		margin 0px
		padding 0px
		width 408px

	.telefono
		position absolute
		right 0px
		top 0px
		margin 1.5em 5em 0 0


.titulo
	font-family "novecento_sans_widenormal",Arial, san-serif
	color white
	font-size 3em

.super
	display 100%
	text-align center
	h1
		color white
		font-size 5em
		text-align center