/*! Estilo header grupokimera.com */
header
	display block
	height 120px
	position absolute
	text-align center
	top 0px
	width 100%
	z-index 1999
	color white
	background-color: None

	a,.telefono
		position absolute
		top 0px
	a
		font-family "novecento_sans_widedemibold" ,Arial, san-serif
		font-size 2em
		font-style None
		font-weight 800 !important
		margin 1.2em 0 0 2.5em
		padding-left 0.5em
		left 0px
		text-decoration None
	figure
		display inline-block
		margin 0px
		padding 0px
		width 408px

	.telefono
		position absolute
		right 0px
		top 0px
		margin 1.5em 5em 0 0


.titulo
	font-family "novecento_sans_widenormal",Arial, san-serif
	color white
	font-size 3em

.super
	display 100%
	text-align center
	h1
		color white
		font-size 5em
		text-align center