$negro = #0d0d0d
$gris = #1b1b1b
nav
    background $negro
    height 100%
    padding-top 4.5em
    position fixed
    top 0
    width 300px
    z-index 1000
    ul
        padding 0 1.5em 0 1.5em
    a
        border-bottom 3px solid $gris
        color white
        display block
        font-size 1.2em
        font-weight 300
        padding 1em
        &:hover
            background grey
            text-shadow 1px 1px 1px black
        &:active
            background grey

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -300px;
}

.cbp-spmenu-right {
    right: -300px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

@media screen and (max-height: 26.375em){
    nav {
        font-size: 90%;
        width: 190px;
    }
    .cbp-spmenu-left{
        left: -190px;
    }

}
