#Cont-Slides
	display inline-block
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 99
	article
		color #fafafa
		display block
		height 100%
		overflow hidden
		position relative
		text-align center
		width 100%
		img
			display block
			height 100%
			left 0
			max-width 100%
			max-width: 100%
			position absolute
			top 0
			width 100%
		h2
			display block
			font-size 6em
			margin 1.5em auto 0.3em auto
			position relative
			text-align center
			text-transform uppercase
			letter-spacing 3px
		p
			display block
			font-family "Roboto", Arial,sans-serif
			font-size 1.1em
			font-weight 300
			position relative
			text-align center
			margin-bottom 2.2em
		a
			// background none
			// border 6px solid white
			// color white
			// cursor pointer
			// display inline-block
			// padding 0.8em 1.5em
			// position relative
			// text-transform uppercase




