#Cont-Slides
	display inline-block
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 99
	article
		color #fafafa
		display block
		height 100%
		overflow hidden
		position relative
		text-align center
		width 100%
		img
			display block
			height 100%
			left 0
			max-width 100%
			max-width: 100%
			position absolute
			top 0
			width 100%
			z-index 1000

		h2
			display block
			font-size 6em
			letter-spacing 3px
			margin 1.5em auto 0.3em auto
			position relative
			text-align center
			text-transform uppercase
			width 60%
			z-index 1003
		p
			display block
			font-family "Roboto", Arial,sans-serif
			font-size 1.1em
			font-weight 300
			margin 0 auto 2.2em auto
			position relative
			text-align center
			width 60%
			z-index 1003

.btn-ctrl
	border none
	cursor pointer
	display block
	min-height 100%
	min-width 40%
	position absolute
	top 0
	z-index 1001

.btn-sig
	right 0px
	cursor url(../img/cursors/cursor_next_white.png), auto

.btn-ant
	cursor url(../img/cursors/cursor_prev_white.png), auto




