{% load static from staticfiles %}
<header>
	<a id="menu-main" href="#" class="icon-menu link-main-menu">MENU</a>
	<figure>
		<img src="{% static "img/logo.png" %}" alt="Desarrollo de sitios web en México" width="408" height="126" />
	</figure>
	<h2 class="telefono">+52 (656) 379.7462</h2>
</header>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <a href="#">Celery seakale</a>
    <a href="#">Dulse daikon</a>
    <a href="#">Zucchini garlic</a>
    <a href="#">Catsear azuki bean</a>
    <a href="#">Dandelion bunya</a>
    <a href="#">Rutabaga</a>
</nav>